
<div id="main">
    <div id="container">
        <div id="addTodo">
            <h1>Adicione sua tarefa:</h1>
            <input type="text" [(ngModel)]="newTaskName" placeholder="Nova tarefa" id="input"/>
            <button (click)="addTask()" id="addBtn">Adicionar</button>
        </div>
        
        <ul>
            <li *ngFor="let task of tasks" [ngClass]="{'done': task.done}">
            <input type="checkbox" [(ngModel)]="task.done" (ngModelChange)="saveTasks()" />
            {{ task.name }}
            <button (click)="deleteTask(task)" id="removeBtn">X</button>
            </li>
        </ul>
    </div>
</div>