@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: Roboto;
}
#main{
    height: 100vh;
    padding: 10px;
    background-color: black;
}
#container{
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 800px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
}
#input{
    border: 3px solid black;
    margin: 25px;
    width: 500px;
    height: 30px;
}
#addBtn {
    --b: 3px;   
    --s: .45em; 
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#addBtn:hover,
#addBtn:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}
#addBtn:active {
    background: var(--color);
    color: #fff;
}
#removeBtn{
    margin-left: 10px;
    background-color: red;
    text-align: center;
    margin-right: 5px;
}
#addTodo{
    padding: 1rem;
    display: inline-block;
    text-align: center;
}

ul {
    max-height: 250px;
    overflow-y: auto;
}
  
li {
    border: 3px solid black;
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 8px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word; 
    margin-right: 30px;  
}
  
li.done {
    text-decoration: line-through;
    color: rgb(9, 255, 0);
}

#updateBtn{
    margin-left: 10px;
    background-color: rgb(70, 176, 0);
    text-align: center;
    margin-right: 5px;
    width: 70px;
    height: 30px;
}
#editBtn{
    margin-left: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 5px;
    width: 60px;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    #container {
      max-width: 100%;
      margin: 40px auto;
    }
    #input {
      width: 90%;
      margin: 20px auto;
    }
  }